<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% comment %} Inlined CSS Variables {% endcomment %}
    {% render 'css-variables' %}

    {% comment %} Social, title, etc. {% endcomment %}
    {% render 'meta-tags' %}

    {% comment %} Load and preload the critical CSS {% endcomment %}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}

    {% comment %} Vendor CSS Files {% endcomment %}
     {{  'animate.css' |  asset_url |  stylesheet_tag }}
     {{  'bootstrap-select.min.css' |  asset_url |  stylesheet_tag }}
     {{  'bootstrap.min.css' |  asset_url |  stylesheet_tag }}
     {{  'drift-basic.min.css' |  asset_url |  stylesheet_tag }}
     {{  'image-compare-viewer.min.css' |  asset_url |  stylesheet_tag }}
     {{  'jquery.fancybox.min.css' |  asset_url |  stylesheet_tag }}
     {{  'magnific-popup.min.css' |  asset_url |  stylesheet_tag }}
     {{  'photoswipe.css' |  asset_url |  stylesheet_tag }}
     {{  'swiper-bundle.min.css' |  asset_url |  stylesheet_tag }}
     
     {% comment %} Main CSS File {% endcomment %}
     {{  'styles.css' |  asset_url |  stylesheet_tag }}

     {% comment %} Custom CSS File {% endcomment %}
     {{  'custom.css' |   asset_url |  stylesheet_tag }}
    
     {{ content_for_header }}
  </head>

  <body>
    {% sections 'header-group' %}

    {{ content_for_layout }}

    {% sections 'footer-group' %}

    {% comment %} JQuery File {% endcomment %}
    {{ 'jquery.min.js' | asset_url |  script_tag }}

    {% comment %} Vendor JS Files {% endcomment %}
    {{ 'bootstrap-select.min.js' | asset_url |  script_tag }}
    {{ 'bootstrap.min.js' | asset_url |  script_tag }}
    {{ 'carousel.js' | asset_url |  script_tag }}
    {{ 'count-down.js' | asset_url |  script_tag }}
    {{ 'drift.min.js' | asset_url |  script_tag }}
    {{ 'image-compare-viewer.min.js' | asset_url |  script_tag }}
    {{ 'infinityslide.js' | asset_url |  script_tag }}
    {{ 'lazysize.min.js' | asset_url |  script_tag }}
    {{ 'magnific-popup.min.js' | asset_url |  script_tag }}
    {{ 'model-viewer.min.js' | asset_url |  script_tag }}
    {{ 'nouislider.min.js' | asset_url |  script_tag }}
    {{ 'parallaxie.js' | asset_url |  script_tag }}
    {{ 'photoswipe-lightbox.umd.min.js' | asset_url |  script_tag }}
    {{ 'photoswipe.umd.min.js' | asset_url |  script_tag }}
    {{ 'shop.js' | asset_url |  script_tag }}
    {{ 'sibforms.js' | asset_url |  script_tag }}
    {{ 'swiper-bundle.min.js' | asset_url |  script_tag }}
    {{ 'wow.min.js' | asset_url |  script_tag }}
    {{ 'zoom.js' | asset_url |  script_tag }}

    {% comment %} Main JS File {% endcomment %}
    {{ 'main.js' | asset_url |  script_tag }}

    {% comment %} Custom JS File {% endcomment %}
    {{ 'custom.js' | asset_url |  script_tag }}
  </body>
</html>
